<!DOCTYPE html>
<html>
<head>
    <title>Solr Search</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="../platform/platform.js"></script>
    <link rel="import" href="solr-search-app.html">
    <link rel="stylesheet" href="../polymer-ui-base-css/base.css">
</head>
<body class="polymer-ui-body-text">

<solr-search-app class="polymer-ui-fit"></solr-search-app>

</body>
</html>